/* Importation des polices d'écriture */
@font-face {
  font-family: "Goldman Regular";
  src: url("../fonts/Goldman-Regular.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Soloist";
  src: url("../fonts/Soloist-blanc.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}