/* ---- HEADER PARENT ---- */
header#default {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	width: 100%;
}

/* TOP HEADER */
div.header-top {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 1.3em;

	width: 70%;
	/* Pour que les enfants s'adapte au plus proche parent */
	height: 165px;
	max-width: var(--taille-max);
	padding-top: 20px;
	/*background-color: #ff4b59;*/
}

div.header-top img.banner-logo {
	height: 140px;
	width: auto;
}

/* TOP HEADER LEFT */
div.left-header-top {
	display: flex;
	justify-content: flex-start;
	margin-left: 20px;
}

/* TOP HEADER RIGHT */
div.right-header-top {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	align-items: flex-end;
	justify-content: space-evenly;
	height: 100%;
}

div.right-header-top div {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}


/* Account */
.account {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	width: 260px;
	height: 30px;
}

.account a {
	font-family: "Roboto", Arial, sans-serif;
	color: #fff;
	text-decoration: none;
}

.account a:hover {
	color: rgb(230, 230, 230);
	text-decoration: underline solid rgb(230, 230, 230);
}


/* Cart */
.cart a {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	margin-right: 20px;
}


/* ---- MENU NAV ---- */
header#default nav {
	font-family: "Goldman Regular", cursive;
	font-size: 1.5em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 70%;
	max-width: var(--taille-max);
	min-height: 70px;
}

header#default nav > div {
	display: flex;

	position: relative;
	cursor: default;
	padding: 10px 40px;
}

/* SUBMENU */
header#default div.submenu {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: rgb(78, 89, 107);
	box-shadow: 0 5px 10px 0 #2e2e2e;
}

header#default div:hover>div.submenu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header#default div.submenu div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

header#default div.submenu a {
	color: #47949e;
	font-family: "Roboto", Arial, "Courier New", Courier, monospace;
	font-size: 1rem;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

header#default div.submenu a:hover {
	background-color: rgb(44, 50, 60);
	/*color: var(--hover-a-color);*/
	font-weight: bold;
}

/* Liens Menus */
header#default nav a {
	text-decoration: none;
	color: rgb(240, 240, 240);
}

header#default nav > div:hover {
	color: rgb(238, 255, 218);
	text-shadow: 0 0 30px #0f0, 0 0 30px #0f0, 0 0 30px #0f0;
	transition: all 0.3s ease-in;
}

/* --- QUOTE --- */
header#default blockquote {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	font-size: 1.2em;
	border-top: 5px solid;
	max-width: var(--taille-max);
	width: 50%;
	margin: 0;
	padding: 20px 0;
}

header#default blockquote p {
	margin: 0;
}


/* Responsive intermédiaire (1100px) */
@media screen and (max-width: 1100px) {
	header#default div.header-top {
		max-width: none;
		width: 90%;
	}
	header#default nav {
		max-width: none;
		width: 100%;
	}
}